
<form #myform="ngForm" (ngSubmit)="onRegister(myform)">
    <legend>Add Employee</legend>

    <div class="form-group">
        <label for="No">No</label>
        <input ngModel type="text" class="form-control" id="No" name="No" placeholder="Enter No">
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input ngModel type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name" >
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input ngModel type="text" class="form-control" id="Age" name="Age" placeholder="Enter Age" >
    </div>

    

    <button type="submit" class="btn btn-primary">Add Employee</button>
    
    <button type="button" class="btn btn-primary" (click)="gotoHome()">gotoHome</button>
</form>

